h2{
color: white;
text-align: center;
font-size: 45px;
}
nav {

    background-image: url(./img/dinooo.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    min-height: 200px; 
    height: 100px; 
    width: 99%; 
    padding: 5px 5px 5px 5px;
     position: relative;
}
    .contenedor_menu {
    position: absolute; 
    margin: 20px; 
    bottom: 0; 
    right: 0;
    }
    nav div a {
    float: right; 
    margin-left: 6px; 
    padding: 5px 10px 5px 10px; 
    background-color: rgb(0, 255, 238); 
    color: rgb(46, 87, 210); 
    text-decoration: none;
    font-size: 17px; 
    font-weight: bold;
    }
    nav div a:hover {
    color: white;
    font-weight: bold; 
    background-color: rgb(170, 192,245);
    }
   